<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<form  th:method="POST" th:action="@{/admin/edit}" th:object="${user}">

    <input type="hidden" th:field="*{userId}" th:value="user.userId">
    <br/>
    <br/>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>
    <br>
    <label for="username">Enter username</label>
    <input type="text" th:field="*{username}" id="username">
    <br/>
    <br/>
    <label for="password">Enter password</label>
    <input type="text" th:field="*{password}" id="password">
    <br>
    <br>
    <label>Roles:
        <select size="2" multiple name="role" required="required">
            <option selected="selected" value="1">User</option>
            <option value="2">Admin</option>
        </select>
    </label>

    <br/>
    <br/>
    <input type="submit" value="edit User" />
    <br>
    <br>
    <a href="/index">Выйти</a>
</form>
</body>
</html>
